<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>secret_cap</title>
    <meta name="description" content="secret_cap(Poison),一款极其受欢迎的网页游戏(Webgame)"/>
    <meta name="keywords" content="secret_cap,poison,网页游戏,webgame,交友,成就,技能,角色" />
    <meta content="ALL" name="ROBOTS"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <%= stylesheet_link_tag "p", "tip-green", "tip-skyblue" -%>
  </head>
  <body>
    <div id="wrapper">
      <%= yield :layout -%>
      <%= render :partial => 'layouts/bottom' %>
    </div>
    <%= javascript_include_tag "jquery-1.4.4.min", "jquery.easing.1.3", "jquery.timer", "jquery.poshytip.min",
      "jquery.json-2.2.min", "swfobject", "jsxmlsocket", "jquery.tmpl.min", "jquery.poshytip.min", "jquery.jplayer.min", "jquery.animate-colors",
      "g", "p", "login", "game", "socket" , "snumber" -%>
    <%= yield :javascripts %>
    <%= yield :audios %>
    <script type="text/javascript">
      var cookies_login = false, init_player_data;
      function initSetLoginData(s, d) {cookies_login = s; init_player_data = d;};
      function is_init_s() {return cookies_login;};
<% if @json_login_data -%>
    initSetLoginData(true, eval(<%= @json_login_data.to_json %>));
<% end -%>
    </script>
  </body>
</html>
